
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
    font-family: 'Bebas Neue'; 
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
}
:root {
    --heading-font: "Bebas Neue";
    --paragraph-font: sans-serif;
}
body {
    display: grid;
    background-color: #dad7cd;
    padding: 75px;
    max-width: 1600px;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }
#banner {
    width: 100%;
}
h1, h2, h3, h4, h5, h6, p, article, a {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}
h1 {
    font-size: 4em;
    text-align: center;
}
article {
    margin: 0 auto;
    font-size: 2em; 
    word-spacing: 5px;
    padding: 75px;
}
#headshot {
    width: 350px;
    padding: 75px;
    border-radius: 30%;
    justify-self: center;
}
#quote {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3a5a40;
    justify-items: center;
    align-items: center;
    padding: 100px;
}
#word {
    grid-column:2/4;
    margin-top: 100px;
    justify-content: center;
    font-size: 3.3em;
    color: white;
}
p {
    padding: 100px;
}
nav a {
    text-align: center;
    font-size: 2em;
}
header {
    background-color: #dad7cd;
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-around;
    justify-items: right;
    padding: 75px;
    color: #3a5a40
}
.logo {
    width: 200px;
    padding: 100px;
}
.social {
    align-items: center;
    padding: 100px;
}
a {
    padding: 75px;
}
footer {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px 350px;
    align-items: center;
    justify-items: center;
}
#footer {
    grid-column: 4/6;
    margin-top: 160px;
}
body, html {
    height: 100%;
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/backwithbow.png");
    height: 15%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 50%;
  }
#first-banner {
    height: 750px; 
    width: 100%;
    border-radius: 12%;
}
#second-banner {
    height: 750px; 
    width: 1750px;
    border-radius: 12%;
    padding-top: 300px;
    border-radius: 12%;
}
/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
p {
    font-size: 2.5em;
    padding: 100px;
    
}
#hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/realrealtalentfacingaway.jpg");
    height: 13%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 12%;
    padding-top:300px;
  }
  #bottom {
    padding-top: 500px;
  }
  #hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  * {box-sizing: border-box}
  /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  /* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }

/* Add padding to container elements */
.container {
    padding: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  div {
    padding: 50px;
  }
  .image-container {
    position: relative;
    display: inline-block;
    background-color: #3a5a40;
  }
  .image-container img {
    display: block;
    width: 70%;
    height: auto;
    padding: 20px; 
  }
  .overlay-text {
    position: absolute;
    width: 50%;
    top: 45%;
    left: 75%;
    transform: translate(-50%, -35%);
    background-color:#3a5a40;
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 20px;
  }
  h1 {
    color: #fff;
  }
  .logo2 {
    width: 200px;
    padding: 100px;
}
#current {
  background-color: #3a5a40;
}
#schedule {
  width: 1500px;
  margin-left: 125px;
}
#venmo {
  margin-left: 28%;
  padding: 60px;
}
.footerc {
  color: #fff;
  justify-items: space-around;
  padding: 100px;
}